#查看spring boot开启了哪些配置
debug: false

# 开发环境配置
server:
  # 服务端口
  port: 8090
  servlet:
    # 项目contextPath
    context-path: /
  error:
    whitelabel:
      enabled: false
  undertow:
    worker-threads: 8
    io-threads: 4 #设置IO线程数, 它主要执行非阻塞的任务,它们会负责多个连接,默认取CPU核心数量
    max-http-post-size: 50000000
    buffer-size: 512
    accesslog:
      enabled: false

beetl-beetlsql:
  dev: false

beetl:
  suffix: html
  delimiter-statement-start: '<!--:'
  delimiter-statement-end: '--\>'
  resource-tagsuffix: tag
  resource-auto-check: false #是否检测文件变化,开发用true合适，但线上要改为false

beetlsql:
  basePackage: spx

spring:
  profiles:
    active: dev
  application:
    name: spxApp
  jackson:
    time-zone: GMT+8
    date-format: yyyy-MM-dd HH:mm:ss
  admin:
    enabled: false
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    user: root
    password: 123456
    url: jdbc:mysql://localhost:3306/test?useUnicode=true&characterEncoding=UTF8&zeroDateTimeBehavior=convertToNull&useSSL=false&serverTimezone=GMT%2B8&allowPublicKeyRetrieval=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maxLifetime: 1765000 #一个连接的生命时长（毫秒），超时而且没被使用则被释放（retired），缺省:30分钟，建议设置比数据库超时时长少30秒以上
      maximumPoolSize: 15 #连接池中允许的最大连接数。缺省值：10；推荐的公式：((core_count * 2) + effective_spindle_count)
      pool-name: baPool
      connection-test-query: SELECT 1 FROM DUAL
    # 文件上传
  servlet:
    multipart:
      # 单个文件大小
      max-file-size:  10MB
      # 设置总上传的文件大小
      max-request-size:  20MB
    # 服务模块
  devtools:
    restart:
      # 热部署开关
      enabled: true

# 日志配置
logging:
  level:
    spx.baicai: info
    org.springframework: WARN
    org.spring.springboot.dao: info
    org.springframework.jdbc.core.JdbcTemplate: info


# dubbo config
# 应用定义了提供方应用信息，用于计算依赖关系；在 dubbo-admin 或 dubbo-monitor 会显示这个名字，方便辨识
dubbo:
  application:
    name: dubbo-spx
    qosEnable: false
  # 应用所属者
  owner: baicai
  # 应用所属组织
  organization: baicai

  # 使用 zookeeper 注册中心暴露服务，注意要先开启 zookeeper
  # 注册中心id
  registry:
    id: mynacos
    # 注册中心地址
    address: nacos://localhost:8848

  # dubbo协议在20880端口暴露服务
  # 协议名称
  protocol:
    name: dubbo
    # 协议端口
    port: 20880
    # 协议访问log
    accesslog: /tmp/dubbo-access-consumer.log
  # 重试次数
  provider:
    retries: 0
    # 超时时间
    timeout: 3000
  # 注册监控中心
    #monitor:
    #protocol: registry
    #address: localhost:8848
---
spring:
  profiles: dev
server:
  port: 8090

---
spring:
  profiles: prod
server:
  port: 8091