#查看spring boot开启了哪些配置
debug: false

# 开发环境配置
server:
  # 服务端口
  port: 8080
  servlet:
    # 项目contextPath
    context-path: /
  error:
    whitelabel:
      enabled: false
  undertow:
    worker-threads: 8
    io-threads: 4 #设置IO线程数, 它主要执行非阻塞的任务,它们会负责多个连接,默认取CPU核心数量
    max-http-post-size: 50000000
    buffer-size: 512
    accesslog:
      enabled: false

beetl-beetlsql:
  dev: false

beetl:
  suffix: html
  delimiter-statement-start: '<!--:'
  delimiter-statement-end: '--\>'
  resource-tagsuffix: tag
  resource-auto-check: false #是否检测文件变化,开发用true合适，但线上要改为false

beetlsql:
  basePackage: spx

spring:
  profiles:
    active: dev
  application:
    name: spxApp
  jackson:
    time-zone: GMT+8
    date-format: yyyy-MM-dd HH:mm:ss
  admin:
    enabled: false
  datasource:
      type: com.zaxxer.hikari.HikariDataSource
      user: root
      password: 123456
      url: jdbc:mysql://localhost:3306/test?useUnicode=true&characterEncoding=UTF8&zeroDateTimeBehavior=convertToNull&useSSL=false&serverTimezone=GMT%2B8&allowPublicKeyRetrieval=true
      driver-class-name: com.mysql.jdbc.Driver
      hikari:
            maxLifetime: 1765000 #一个连接的生命时长（毫秒），超时而且没被使用则被释放（retired），缺省:30分钟，建议设置比数据库超时时长少30秒以上
            maximumPoolSize: 15 #连接池中允许的最大连接数。缺省值：10；推荐的公式：((core_count * 2) + effective_spindle_count)
            pool-name: baPool
            connection-test-query: SELECT 1 FROM DUAL
    # 文件上传
  servlet:
      multipart:
          # 单个文件大小
        max-file-size:  10MB
          # 设置总上传的文件大小
        max-request-size:  20MB
    # 服务模块
  devtools:
      restart:
          # 热部署开关
        enabled: true

# 日志配置
logging:
  level:
    spx.baicai: info
    org.springframework: WARN
    org.spring.springboot.dao: info
    org.springframework.jdbc.core.JdbcTemplate: info

---
spring:
    profiles: dev
server:
  port: 8080

---
spring:
    profiles: prod
server:
  port: 9696